.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.piano {
  display: flex;
  flex-wrap: wrap; /* Ensure keys wrap to the next line if the container is not wide enough */
  justify-content: center; /* Center the keys horizontally */
}

.white-key {
  width: 50px;
  height: 150px;
  background-color: white;
  border: 1px solid black;
  margin-right: 2px; /* Add space between keys */
  margin-bottom: 5px; /* Add space between rows of keys */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.black-key {
  color: white;
  width: 30px;
  height: 100px;
  background-color: black;
  margin-right: 2px; /* Add space between keys */
  margin-bottom: 5px; /* Add space between rows of keys */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

/* Add more styles for other piano components as needed */
